.env.local
.env*.local
.next/
out/
node_modules/
tsconfig.tsbuildinfo
*.jks
*.keystore
google-services.json

.agents/
.codex/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
